# Text break
* text=auto
* text eol=lf

# Archive ignore
/.github export-ignore
/examples export-ignore
/tests export-ignore
/.static export-ignore
.gitignore export-ignore
.gitattributes export-ignore
_config.yml export-ignore
*.code-workspacel export-ignore