_CREDENTIAL_ID_="your-credential-id"
_CREDENTIAL_SECRET_="your-credential-secret"
_TAG_="your-tag-21"
_VERSION_="3.2"
_LOCALE_="fr"
_KEYWORDS_="Fire TV Stick"
_ASIN_="B0GGCDV1Q1"
_ISBN_="9780134853987"
_NODE_="283155"