CREDENTIAL_ID="your-credential-id"
CREDENTIAL_SECRET="your-credential-secret"
TAG="your-tag-21"
VERSION="3.2"
LOCALE="com"
KEYWORDS="Fire TV Stick"
ASIN="B0FP16G94B"
ISBN="9780134853987"
NODE="283155"
DISABLE_CACHE=false

# Server environment variables
# APAAPI_CREDENTIAL_ID="your-credential-id"
# APAAPI_CREDENTIAL_SECRET="your-credential-secret"